[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggragged"]
	path = ggragged
	url = https://github.com/mikmart/ggragged
[submodule "monad"]
	path = monad
	url = https://github.com/mikmart/monad
